@import '@/styles/variables.module.scss';

.sideBar {
  position: sticky;
  top: 75px;
  flex: 318px;
  height: 500px;
  background-color: $white;

  .header {
    font-size: 18px;
    padding: 24px;
    font-weight: 400;
    margin: 0;
  }

  .menuList {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    &Item {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      padding: 14px 0px 13px 48px;
      color: $secondary-gray;
      cursor: pointer;
      &Active {
        background-color: $tertiary-gray;
        color: $orange;
      }
    }
  }
}
